<html xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: template('Company Details',~{::content})">
    <div class="row" th:fragment="content">
        <div class="col-sm">
            <table class="table table-striped" id="tableRefDataSymbols">
                <tbody>
                    <!--  iterate over items in list -->
                    <tr scope="row">
                        <td>Symbol</td>
                        <td th:text="${company.symbol}">--</td>
                    </tr>
                    <tr scope="row">
                        <td>Company name</td>
                        <td th:text="${company.companyName}">--</td>
                    </tr>
                    <tr scope="row">
                        <td>Exchange</td>
                        <td th:text="${company.exchange}">--</td>
                    </tr>
                    <tr scope="row">
                        <td>Industry</td>
                        <td th:text="${company.industry}">--</td>
                    </tr>
                    <tr scope="row">
                        <td>Website</td>
                        <td>
                            <a th:href="${company.website}" th:text="${company.website}"></a>
                        </td>
                    </tr>
                    <tr scope="row">
                        <td>Description</td>
                        <td th:text="${company.description}">--</td>
                    </tr>
                    <tr scope="row">
                        <td>CEO</td>
                        <td th:text="${company.ceo}">--</td>
                    </tr>
                    <tr scope="row">
                        <td>Issue type</td>
                        <td th:text="${company.issueType}">--</td>
                    </tr>
                    <tr scope="row">
                        <td>Sector</td>
                        <td th:text="${company.sector}">--</td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-info" th:href="@{'/stock/' + ${company.symbol} +'/news/last/5' }" role="button">News</a>
        </div>
    </div>
</html>