<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    th:fragment="template(title,content)">
<head>
<title th:text="${title}">Layout</title>
<link rel="icon" href="/favicon.ico" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- Ein URL Expression, damit auch Spring static Content Caching funktioniert -->
<link rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}">
<style type="text/css">
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 30px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 30px;
	line-height: 30px; /* Vertically center the text there */
	background-color: #f5f5f5;
}
</style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header">
            <a class="navbar-brand" th:href="@{/refdata}">IEX Trading Example</a>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" th:href="@{/refdata}">
                        Home
                        <span class="sr-only">(current)</span>
                    </a>
                </div>
            </div>

            <!--  Username und Logout-Button nur anzeigen, wenn eingelogged, d.h. remoteUser != null -->
            <!-- remoteUser wird aus SecurityContextHolderAwareRequestWrapper geholt -->
            <th:block th:if="${#httpServletRequest.remoteUser != null}">
            </th:block>

            <div sec:authorize="!isAuthenticated()">
                <a th:href="@{/login}" class="btn badge badge-success">Sign in</a>
            </div>
            <th:block sec:authorize="isAuthenticated()">
                <div class="nav-item" sec:authentication="name">Username</div>

                <!-- the default logout url, handled by spring security -->
                <!-- muss post sein wg. csrf token -->
                <form th:action="@{/logout}" class="nav-item my-2 my-lg-0 ml-1" method="post">
                    <button class="btn badge badge-danger" type="submit">Logout</button>
                </form>
            </th:block>
        </nav>
    </header>

    <div class="container">
        <div th:replace="${content}">A placeholder for real content.</div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row d-flex justify-content-between w-100">
                <a href="https://iextrading.com/developer/" target="_blank" class="small">IEX Developer Platform</a>
                <div class="text-right small">©2017 Leo Niedermeier</div>
            </div>
        </div>
    </footer>

</body>
</html>