<html xmlns:th="http://www.thymeleaf.org"
    th:replace="fragments/layout :: template('Reference Data Symbols',~{::content})">
<section th:fragment="content">
    <form action="#" th:action="@{/refdata}" th:object="${searchFields}" method="post">
        <div class="row">
            <div class="col-sm mt-3 form-inline">
                <label for="searchName">Name:</label>
                <input type="text" class="form-control mx-sm-3" th:field="*{name}" id="searchName" />

                <label for="searchSymbol">Symbol</label>
                <input type="text" class="form-control mx-sm-3" th:field="*{symbol}" id="searchSymbol" />

                <button type="submit" class="btn btn-sm btn-primary mr-2">Submit</button>
                <button type="reset" class="btn  btn-sm btn-secondary">Reset</button>

            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-around mt-3 mb-3 col-sm">
                <div th:each=" cti: ${charToIndex}">
                    <button type="submit" class="btn btn-sm  btn-outline-primary" name="fromIndex"
                        th:value="${cti.index}" th:text="${cti.character}">XX</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <table class="table table-striped table-sm" id="tableRefDataSymbols">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Symbol</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--  iterate over items in list -->
                        <tr th:each="item : ${refDataSymbols}" scope="row">
                            <td th:text="${item.name}" class="w-100 ">--</td>
                            <td th:text="${item.symbol}">--</td>
                            <td>
                                <!-- spezielles Format für urls: Strings zusammenbauen -->
                                <a class="btn btn-primary btn-sm" th:href="@{'/stock/' + ${item.symbol} +'/company' }"
                                    role="button">Details</a>
                            </td>
                            <td>
                                <!-- oder mit variable template in url -->
                                <a class="btn btn-info btn-sm"
                                    th:href="@{/stock/{symbol}/news/last/4(symbol=${item.symbol}) }" role="button">News</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <!-- flexbox, rechts ausrichten -->
            <div class="col-sm  d-flex justify-content-end">
                <!-- Buttons nur anzeigen, falls Elemente im ModelAndView vorhanden
                 da 0 bei ${previousPagingIndex} false liefert, vergleich mit null. (0 kann ein Startwert sein)           
             -->
                <!-- mit (fromIndex....) wird ein Query-Parameter angehängt -->
                <!-- 
                <a class="btn btn-secondary btn-sm mr-2" th:href="@{/refdata(fromIndex=${previousPagingIndex}) }"
                    th:if="${previousPagingIndex} != null" role="button">Previous</a>
                <a class="btn btn-secondary btn-sm" th:href="@{/refdata(fromIndex=${nextPagingIndex}) }"
                    th:if="${nextPagingIndex}" role="button">Next</a>
                 -->

               <button type="submit" class="btn btn-sm  btn-secondary  mr-2" name="fromIndex" th:value="${previousPagingIndex}"
                     th:if="${previousPagingIndex} != null">Previous</button>

                <button type="submit" class="btn btn-sm  btn-secondary" name="fromIndex" th:value="${nextPagingIndex}"
                    th:if="${nextPagingIndex}">Next</button>
            </div>
        </div>
    </form>
</section>
</html>